@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply m-0;
    }
    li {
        @apply inline-flex;
        @apply cursor-pointer;
        @apply gap-4;
        @apply hover:text-orange;
        @apply transition-all;
        @apply duration-200;
    }

    .box {
        cursor: pointer;
        display: flex;
        width: 20%;
        place-content: center;
        border-radius: 6px;
        background-color: #1c243f;
        padding: 4px;
    }

    .box-container {
        display: flex;
        place-items: center;
        gap: 1rem;
    }

    .box:active {
        background-color: #0bb885;
    }

    .timeline {
        margin-top: 20px;
        margin-left: 10px;
        border-left: 2px solid #5c6ca5;
        padding: 0 20px 0 30px;
    }

    .timeline-container {
        padding: 5px 0px;
        font-size: 16px;
        line-height: 1.6;
        position: relative;
        height: 90px;
    }

    .timeline-container:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: #1c243f;
        border-radius: 50%;
        border: 3px solid #ff814a;
        position: absolute;
        top: 10px;
        left: -41px;
        z-index: 10;
    }
}
